@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
button{
    border: none;
    color: #fff;
    background: green;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

