* {
    box-sizing: border-box;
    text-align: center;
  }

  .winner {
    color: green;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial;
    height: 50px;
  }
  .container {
    border: 1px solid black;
    width:302px;
    height: 302px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
  }
.new-game,
 .restart{
    border: none;
    color: #fff;
    background: green;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
.active {
    background: rgba(0, 255, 0, 0.5);
  }
.cell{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 5.5rem;
  
}
.circle{
  color: blue;
}
.cross{
  color: red;
}