* {
    box-sizing: border-box;
    text-align: center;
    background-color: #f7e293;
  }

  .winner {
    color: green;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial;
    height: 50px;
  }
  .container {
    width:300px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 70px auto;
  }
.home,
 .restart,
 dialog button{
    border: none;
    color: #fff;
    background: green;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
.active {
    background: rgba(0, 255, 0, 0.5);
  }
.cell{  
  border: 1px solid green;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 5.5rem;
}
.circle{
  color: blue;
}
.cross{
  color: red;
}
dialog{
  color: green;
  width: 300px;
  font-size: 1.4rem;
}
dialog::backdrop {
  background: rgba(97, 94, 94, 0.7);
}

.cell:nth-child(1), 
.cell:nth-child(3)
{
  border-bottom: 5px solid green;
}
.cell:nth-child(7), 
.cell:nth-child(9)
{
  border-top: 5px solid green;
}
.cell:nth-child(2){
  border-right: 5px solid green;
  border-left: 5px solid green;
  border-bottom: 5px solid green;
}
.cell:nth-child(8)
{
  border-right: 5px solid green;
  border-left: 5px solid green;
  border-top: 5px solid green;
}
.cell:nth-child(5)
{
  border-right: 5px solid green;
  border-left: 5px solid green;
}